@font-face{
    font-family: Abel;
    src: url('../font/Abel/Abel-Regular.ttf');
}

@font-face{
    font-family: Josefin;
    src: url('../font/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face{
    font-family: Lexend;
    src: url('../font/Lexend_Exa/LexendExa-Regular.ttf');
}